# Ignore all binaries (or other files without extension) ========

*
!*.*
!*/

# ===============================================================

/target
static
www/
testing/
.vscode/
.idea/

templates/routing/target
templates/routing/Cargo.lock
